<mat-card>
  <h1>{{formType}}</h1>
  <form #studentForm="ngForm">
    <div class="example-container">
      <p>
          <mat-form-field appearance="standard">
            <mat-label>Name</mat-label>
            <input matInput 
              [(ngModel)] = "name"
              name = "name"
              required>
          </mat-form-field>
        </p> 
        <p>
          <mat-form-field appearance="standard">
            <mat-label>math</mat-label>
            <input matInput 
              [(ngModel)] = "math" 
              name = "math" 
              required>
          </mat-form-field>
        </p>
        <mat-error><p *ngIf = "isError">math grade must be between 0 to 100</p></mat-error>   
        <p>
          <mat-form-field appearance="standard">
            <mat-label>sat</mat-label>
            <input matInput 
              [(ngModel)] = "sat" 
              name = "sat" 
              required>
          </mat-form-field>
        </p>
        <mat-error><p *ngIf = "isErrorsat"> sat grade must be between 0 to 800</p></mat-error>   
        <p>
          
            <!--<mat-form-field appearance="standard">
              <mat-label>Payment</mat-label>
              <input matInput 
                [(ngModel)] = "payment"
                name = "payment"
                required>
            </mat-form-field>-->
            <p>
            <mat-form-field appearance="fill">
              <mat-label>Did you pay everything?</mat-label>
              <select matNativeControl [disabled]="disableSelect.value"
              matInput 
                [(ngModel)] = "payment"
                name = "payment"
                required>
                <option value="" selected></option>
                <option value=true> Yes</option>
                <option value=false> No</option>
              </select>
            </mat-form-field> 
          </p> 
          <p>
            <mat-form-field appearance="standard">
              <mat-label>category</mat-label>
              <input matInput 
                [(ngModel)] = "category" 
                name = "category" 
                required>
            </mat-form-field>
          </p>
          <!--<p>
            <mat-form-field appearance="fill">
              <mat-label>will he drop?</mat-label>
              <select matNativeControl [disabled]="disableSelect.value"
              matInput 
                [(ngModel)] = "payment"
                name = "payment"
                required>
                <option value="" selected></option>
                <option value="will drop"> will drop</option>
                <option value="will not drop"> will not drop</option>
              </select>
            </mat-form-field> 
          </p> -->
                                          
      <div >
          <button mat-raised-button color="primary" 
                  (click)= "updateParent()">
                   {{formType}}
          </button>     
      </div>
      <div></div>
      <p></p>
      <div>
        <button mat-raised-button color="primary" (click) = "predict($event)">
         Predict
        </button>   
      </div>  
    </div>
  </form>
 </mat-card>



