<div>    
  </div>  
<mat-accordion>
  <mat-expansion-panel *ngFor = "let student of students">
<mat-expansion-panel-header>
      <mat-panel-title>
          name:{{student.name}}
      </mat-panel-title>
      <mat-panel-description>
          math:{{student.math}}
      </mat-panel-description>
      <mat-panel-description>
          sat:{{student.sat}}
      </mat-panel-description>
      <mat-panel-description>
        payment:{{student.payment}}
    </mat-panel-description> 
    <mat-panel-description>
      willpay?:{{student.category}}
  </mat-panel-description> 
      <button mat-raised-button color="warn" (click)="deleteStudent(student.id)">Delete</button>
  </mat-expansion-panel-header>
</mat-expansion-panel>
</mat-accordion>